* {
    font-family: "Roboto", sans-serif;
}

*, :after, :before {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

* {
    scroll-behavior: smooth;
}

body {
    padding-top: 56px;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    display: block;
    color: #f5f5f5;
    background: #121212;
    transition: background-color .4s, color .4s;
}

body, html {
    height: 100%;
}

style attribute {
    color-scheme: dark;
}

*::selection {
    background: #C08000;
    }

.igor {
    color:#c5c5c5;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: sticky;
    left: 95.6%;
    bottom: 5%;
}

